:root {
   --background-color: #fff;
   --text-color: #000;
   --input-background: #fff;
   --input-text: #000;
   --button-background: #29834a;
   --button-text: #fff;
}

body.dark {
   --background-color: #121212;
   --text-color: #e0e0e0;
   --input-background: #333;
   --input-text: #e0e0e0;
   --button-background: #29834a;
   --button-text: #e0e0e0;
}

body {
  font-family: Arial,sans-serif;
  margin: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}

form {
   max-width: 600px;
   margin: auto;
   background-color: var(--background-color);
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.formGroup {
   margin-bottom: 20px;
}

label {
   display: block;
   margin-bottom: 5px;
   font-weight: bold;
}

input, select, textarea, button {
   width: 100%;
   padding: 8px;
   margin: 5px 0;
   background-color: var(--input-background);
   color: var(--input-text);
   border: 1px solid #ccc;
   border-radius: 4px;
}

button {
   background-color: var(--button-background);
   color: var(--button-text);
   cursor: pointer;
}

.profilePhoto {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.profilePhoto img {
   max-width: 100px;
   margin-top: 10px;
   border-radius: 50%;
}

.darkModeToggle {
   display: block;
   margin: 0 auto 20px auto;
   padding: 10px 20px;
   background-color: var(--button-background);
   color: var(--button-text);
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

